@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
    --dark_blue: #21212d;
    --light_blue: #2c2c38;
    --light-text: #feffff;
    --dark-text: #5c6376;
    --accent: #645fc3;
    --gray: #2f2f3b;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dark_blue);
    color: var(--light-text);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}